[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wordcloud = "*"
matplotlib = "*"
requests = "*"
bs4 = "*"
unidecode = "*"
pillow = "*"
numpy = "*"

[requires]
python_version = "3"
